.article-image {
  width: 100%;
  max-width: 850px;
  margin: 30px auto;
  border-radius: 18px;
  overflow: hidden;
}

.article-image img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  text-decoration: underline;
}
